<div class="principal-container">
    <header class="header-main">
        <div class="header-content">
            <div class="header-left">
                <h1>Sistema de gestion</h1>
                <p>Panel administración de Usuarios: Equipos, Huella, Agentes </p>
            </div>
            <div class="header-right">
                <button class="logout-btn" (click)="irPrincipal()">
                    <i class="fas fa-sign-out-alt"></i> Principal
                </button>
            </div>
        </div>
    </header>

    <div class="principal-content">
        <div class="welcome-section">
            <h2>Administracion de usuarios</h2>
            <p>Seleccione una opcion del menu para continuar</p>
        </div>

        <div class="menu-cards">

            <div class="card" (click)="irUsuarios()">
                <div class="card-icon">
                    <i class="fa-solid fa-user-group"></i>
                </div>
                <h3>Agentes</h3>
                <p>Administrar información de agentes</p>
            </div>
            
            <div class="card" (click)="irEquipos()">
                <div class="card-icon">
                    <i class="fas fa-users"></i>
                </div>
            <h3>Equipos</h3>
            <p>Administrar usuarios de equipos</p>
            </div>
      
            <div class="card" (click)="irHuella()">
                <div class="card-icon">
                    <i class="fas fa-user"></i>
                </div>
                <h3>Huella</h3>
                <p>Administrar usuarios de huella</p>
            </div>
            
        </div>
    </div>
</div>