<div class="container mt-5">
  <h2 class="mb-4">Editar datos de usuario</h2>
<div class=" w-50 aling-left ms-rigth mx-auto shadow mt-5 mb-5">
    <div class=" d-flex justify-content-center align-items-center h-25">
        
        <form [formGroup]="editarForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="nombres">Nombres</label>
                <input class="form-control mt-4" id="nombres" type="text" formControlName="nombres" />
            </div>
            <div *ngIf="editarForm.get('nombres')?.touched && editarForm.get('nombres')?.invalid" class="text-danger mb-2 ms-2">
                El nombre es obligatorio.
            </div>
        
            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="apellidos">Apellidos</label>
                <input class="form-control mt-4" id="apellidos" type="text" formControlName="apellidos" />
            </div>
            <div *ngIf="editarForm.get('apellidos')?.touched && editarForm.get('apellidos')?.invalid" class="text-danger mb-2 ms-2">
                El apellido es obligatorio.
            </div>
            
            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="cedula ">Cedula</label>
                <input class="form-control mt-4" id="cedula" type="text" formControlName="cedula" />
            </div>
            <div *ngIf="editarForm.get('cedula')?.touched && editarForm.get('cedula')?.invalid" class="text-danger mb-2 ms-2">
                La cedula es obligatoria.
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="telefono">Número de Teléfono</label>
                <input class="form-control mt-4" id="telefono" type="text" formControlName="telefono" />
            </div>

            <div *ngIf="editarForm.get('telefono')?.touched && editarForm.get('telefono')?.invalid" class="text-danger mb-2 ms-2">
                <div *ngIf="editarForm.get('telefono')?.errors?.['required']">El número es obligatorio.</div>
                <div *ngIf="editarForm.get('telefono')?.errors?.['pattern']">Debe contener exactamente 10 números.</div>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="cartera">Cartera</label>
                <input class="form-control mt-4" id="cartera" type="text" formControlName="cartera" />
            </div>
            <div *ngIf="editarForm.get('cartera')?.touched && editarForm.get('cartera')?.invalid" class="text-danger mb-2 ms-2">
                La cartera a la que pertenece es obligaoria.
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="numero_equipo ">Numero de equipo</label>
                <input class="form-control mt-4" id="numero_equipo " type="text" formControlName="numero_equipo" />
            </div>
            <div *ngIf="editarForm.get('numero_equipo')?.touched && editarForm.get('numero_equipo')?.invalid" class="text-danger mb-2 ms-2">
                El numero de equipo es obligatorio
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="usuario_equipo ">Usuario del equipo</label>
                <input class="form-control mt-4" id="usuario_equipo" type="text" formControlName="usuario_equipo" />
            </div>
            <div *ngIf="editarForm.get('usuario_equipo')?.touched && editarForm.get('usuario_equipo')?.invalid" class="text-danger mb-2 ms-2">
                El nombre de usuario es obligatorio.
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="clave_equipo">Contraseña del equipo</label>
                <input class="form-control mt-4" id="clave_equipo" type="text" formControlName="clave_equipo" />
            </div>
            <div *ngIf="editarForm.get('clave_equipo')?.touched && editarForm.get('clave_equipo')?.invalid" class="text-danger mb-2 ms-2">
                La Contraseña del equipo es obligatoria
            </div>

            
            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="usuario_huella ">Usuario huella</label>
                <input class="form-control mt-4" id="usuario_huella " type="text" formControlName="usuario_huella" />
            </div>
            <div *ngIf="editarForm.get('usuario_huella')?.touched && editarForm.get('usuario_huella')?.invalid" class="text-danger mb-2 ms-2">
                El usuario para ingresar a Huella es  obligatoria
            </div>

            
            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="clave_huella">Contraseña huella</label>
                <input class="form-control mt-4" id="clave_huella" type="text" formControlName="clave_huella" />
            </div>
            <div *ngIf="editarForm.get('clave_huella')?.touched && editarForm.get('clave_huella')?.invalid" class="text-danger mb-2 ms-2">
                La contraseña para ingresar es  obligatoria
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text mt-4" for="correo">Correo</label>
                <input class="form-control mt-4" id="correo" type="text" formControlName="correo" />
            </div>
            <div *ngIf="editarForm.get('correo')?.touched && editarForm.get('correo')?.invalid" class="text-danger mb-2 ms-2">
                El correo corporativo es obligatorio
            </div>
        



            <div class="input-group mb-3 d-flex justify-content-center align-items-center"  >
              <button class="input-group-text mt-4 btn btn-success shadow" type="submit" [disabled]="editarForm.invalid">Guardar cambios</button>
            </div>
            
          </form>
    </div>
</div>
