<div class="m-5 mt-1 mb-0 text-center ">
  <img class="m-4" src="../../assets/imagenes/NGSO.png" alt="logo">
  <img class="m-4" src="../../assets/imagenes/crear_usuario.png" 
    alt="image" height="100px">
    
  <button (click)="IRRegistro()" class="btn btn-success shadow registro">Nuevo usuario</button>
    
</div>

<div class="text-center mb-3 ">
  <input type="text" [(ngModel)]="terminoBusqueda" (input)="filtrarUsuarios()"
   placeholder="Buscar por nombre o apellido " 
    class="form-control w-50 mx-auto busqueda ">
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped text-center mx-auto w-auto ">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombres</th> 
          <th>Apellidos</th>
          <th>Cédula</th>
          <th>Teléfono</th>
          <th>Cartera</th>
          <th>Número de equipo</th>
          <th>Usuario equipo</th>
          <th>Clave equipo</th>
          <th>Usuario huella</th>
          <th>Clave huella</th>
          <th>Correo</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuariosPaginados">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nombres }}</td>
          <td>{{ usuario.apellidos }}</td>
          <td>{{ usuario.cedula }}</td>
          <td>{{ usuario.telefono }}</td>
          <td>{{ usuario.cartera }}</td>
          <td>{{ usuario.numero_equipo }}</td>
          <td>{{ usuario.usuario_equipo }}</td>
          <td>{{ usuario.clave_equipo }}</td>
          <td>{{ usuario.usuario_huella }}</td>
          <td>{{ usuario.clave_huella }}</td>
          <td>{{ usuario.correo }}</td>
      
          <td>
            <button (click)="editarUsuario(usuario.id)" class="btn btn-success btn-sm">Editar</button>
          </td>
        
          <td>
            <button (click)="eliminarUsuario(usuario.id)" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav class="mt-4">
  <ul class="pagination justify-content-center">
    <li class="page-item " [class.disabled]="paginaActual === 1">
      <button class="page-link"(click)="cambiarPagina(paginaActual - 1)">Anterior</button>
    </li>

    <li 
      class="page-item"
      *ngFor="let page of [].constructor(totalPaginas); let i = index"
      [class.active]="paginaActual === i + 1"
    >
      <button class="page-link" (click)="cambiarPagina(i + 1)">{{ i + 1 }}</button>
    </li>

    <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
      <button class="page-link " (click)="cambiarPagina(paginaActual + 1)">Siguiente</button>
    </li>
  </ul>
</nav>
<button class="btn btn-primary mb-3 exel" (click)="exportarAExcel()">Exportar a Excel</button>

</div>
