
.page-link{
    background-color: rgb(74, 90, 103);
    color:white;
    transition: all 0.35 ease;
    
}
    .page-link:hover{
        background-color:rgb(93, 151, 151) ;
        color: white;
        box-shadow:10px 7px 5px rgb(74, 90, 103);
    }
    .page-link:focus{
        background-color: rgb(93, 151, 151) ;
        box-shadow: none;
        outline: none;
    }
.registro{
    background-color: rgb(74, 90, 103);
    color:white;
    transition: all 0.35 ease;
    }
    .registro:hover{
        background-color:rgb(93, 151, 151) ;
        color: white;
        box-shadow:10px 7px 5px rgb(74, 90, 103);
    }
.busqueda:focus{
    box-shadow: 10px 7px 5px rgb(74, 90, 103);
    outline: none;
}
.excel{
    background-color: rgb(209, 168, 78);
    color:white;
    transition: all 0.35 ease;
}
    .excel:hover{
        background-color:rgb(151, 133, 31) ;
    color: white;
    box-shadow:10px 7px 5px rgb(74, 90, 103)
    }
    .excel:focus{
    background-color: rgb(97, 85, 18) ;
    box-shadow: 10px 7px 5px rgb(129, 114, 28);
    outline: none;
}
.editar:hover{
    background-color:rgb(93, 151, 151) ;
    color: white;
    box-shadow:10px 7px 5px rgb(74, 90, 103);
}
    .editar:focus{
        background-color: rgb(6, 83, 29) ;
        box-shadow: none;
        outline: none;
    }
.eliminar:hover{
    background-color:rgb(145, 42, 42) ;
    color: white;
    box-shadow:10px 7px 5px rgb(74, 90, 103);
}
    .eliminar:focus{
        background-color: rgb(145, 42, 42) ;
        box-shadow: none;
        outline: none;
        }