<div class="best-container">
    <div class="best-content">
        <div class="header-section">
            <div class="logos-container">
                <img src="../../../../assets/imagenes/NGSO.png" alt="logo">
            </div>
            <button class="nuevo-best-btn" (click)="irRegistro()">
                <i class="fas fa-plus"></i> Nuevo usuario BestVoiper
            </button>
        </div>

        <div class="button-container">
            <button class="btn-volver" (click)="volverPrincipal()">
                <i class="fas fa-arrow-left"></i> Usuarios
            </button>
        </div>

        <div class="search-container">
            <input
            [(ngModel)]="terminoBusqueda"
            (input)="filtrarBests()"
            placeholder="Buscar usuario"
            class="search-input">
        </div>

        <div class="table-container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre Usuario</th>
                            <th>Extensión</th>
                            <th>Usuario</th>
                            <th>Clave</th>
                            <th>Acciones</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let best of bestsPaginados">
                            <td>{{best.nombre_usuario}}</td>
                            <td>{{best.extension}}</td>
                            <td>{{best.usuario}}</td>
                            <td>{{best.clave}}</td>
                            <td>
                                <button (click)="editarBest(best.id)" class="action-btn btn-editar">
                                    <i class="fas fa-edit"></i> Editar
                                </button>

                                <button (click)="eliminarBest(best.id)" class="action-btn btn-eliminar">
                                    <i class="fas fa-trash"></i> Eliminar
                                </button>
                            </td>
                            <td>
                                {{best.asignado ? 'Asignado': 'No asignado'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pagination-container">
            <nav>
                <ul class="pagination">
                    <li class="page-item"[class.disabled]="paginaActual ===1">
                        <button class="page-link" (click)="cambiarPagina(paginaActual -1)">
                            <i class="fas fa-chevron-left"></i> Anterior
                        </button>
                    </li>

                    <li class="page-item"
                    *ngFor="let page of[].constructor(totalPaginas); let i = index"
                    [class.active]="paginaActual === i+1">
                    <button class="page-link" (click)="cambiarPagina(i+1)">{{ i + 1}}</button>
                    </li>

                    <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
                        <button class="page-link" (click)="cambiarPagina(paginaActual +1)">
                            Siguiente <i class="fas fa-chevron-right"></i>
                        </button> 
                    </li>
                </ul>
            </nav>
        </div>

        <div class="text-center">
            <button class="export-btn" (click)="exportarAExcel()">
                <i class="fas fa-file-excel"></i> Exportal Excel
            </button>
        </div>
    </div>
</div>